<button routerLink="/dashboard/client-meal-plans" mat-raised-button color="warn"><</button>


<h1>Desayuno</h1>


<div class="information">
    <img class = "image" [src]="diet.picture" alt="desayuno">
    <mat-card class="information-card">
        <mat-card-title>Dieta : {{diet.name}} Comida : {{diet.meal}}</mat-card-title>
        <mat-card-content>
          <p>
            {{diet.indication}}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="information-card">
        <mat-card-title>Hora de consumo</mat-card-title>
        <p>  {{diet.hour}}  </p>
        <mat-card-title>Calorias</mat-card-title>
        <mat-card-content>
          <p>  {{diet.calories}} </p>
        </mat-card-content>
      </mat-card>
</div>