<h1>Mi plan alimenticio</h1>
<div class="meal-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Desayuno</mat-card-title>
      <mat-card-subtitle>{{breakfast.meal}}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="breakfast.picture"
      alt="Imagen de desayuno"
    />
    <mat-card-content>
      <p>
        {{breakfast.indication}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/dashboard/client-meal-information/{{breakfast.id}}" >DETALLES</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Almuerzo</mat-card-title>
      <mat-card-subtitle>{{lunch.meal}}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="lunch.picture"
      alt="Imagen de un almuerzo"
    />
    <mat-card-content>
      <p>
        {{lunch.indication}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/dashboard/client-meal-information/{{lunch.id}}" >DETALLES</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cena</mat-card-title>
      <mat-card-subtitle>{{dinner.meal}}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{dinner.picture}}"
      alt="Imagen de una cena"
    />
    <mat-card-content>
      <p>
        {{dinner.indication}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/dashboard/client-meal-information/{{dinner.id}}" >DETALLES</button>
    </mat-card-actions>
  </mat-card>
</div>

