<img
  src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
  alt="front"
  style="height: 200px; width: 100%"
/>
<div class="container">
  <h1><strong>Registro de coach</strong></h1>

<form [formGroup]="myForm" class="example-form">
    <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombres</mat-label>
              <input formControlName="name" matInput  />
            </mat-form-field>
            <div
          *ngIf="
            myForm.get('name')?.hasError('required') &&
            myForm.get('name')?.touched
          "
          style="margin-top: -20px"
        >
          <span class="mda-form-msg"> Dinos su nombre </span>
        </div>
        <div
          *ngIf="myForm.get('name')?.hasError('maxlength')"
          style="margin-top: -20px"
        >
          <span class="mda-form-msg">
            Este campo debe tener como máximo 20 caracteres
          </span>
        </div>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Apellidos</mat-label>
              <input formControlName="lastName" matInput />
            </mat-form-field>
            <div
          *ngIf="
            myForm.get('lastName')?.hasError('required') &&
            myForm.get('lastName')?.touched
          "
          style="margin-top: -20px"
        >
          <span class="mda-form-msg"> Complete sus datos </span>
        </div>
        <div
          *ngIf="myForm.get('lastName')?.hasError('maxlength')"
          style="margin-top: -20px"
        >
          <span class="mda-form-msg">
            Este campo debe tener como máximo 20 caracteres
          </span>
        </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Gimnacio</mat-label>
              <mat-select matInput formControlName="gym">
                <mat-option *ngFor="let gym of gyms" [value]="gym">{{gym.name}}</mat-option>
            </mat-select>
            </mat-form-field>
            <div
          *ngIf="
            myForm.get('gym')?.hasError('required') &&
            myForm.get('gym')?.touched
          "
          style="margin-top: -20px"
        >
          <span class="mda-form-msg"> Este campo es necesario  </span>
        </div>
        <div
          *ngIf="myForm.get('gym')?.hasError('maxlength')"
          style="margin-top: -20px"
        >
          <span class="mda-form-msg">
            Este campo debe tener como máximo 20 caracteres
          </span>
        </div>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Numero de celular</mat-label>
              <input formControlName="phone" matInput type="number" />
            </mat-form-field>
            <div
          *ngIf="
            myForm.get('phone')?.hasError('required') &&
            myForm.get('phone')?.touched
          "
          style="margin-top: -20px"
        >
          <span class="mda-form-msg"> Este campo es obligatorio para la comunicacion </span>
        </div>
        <div
          *ngIf="myForm.get('phone')?.hasError('minlength')"
          style="margin-top: -20px"
        >
          <span class="mda-form-msg">
            Este campo debe tener como minimo 9 caracteres
          </span>
        </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input formControlName="password" matInput />
            </mat-form-field>
            <div
          *ngIf="
            myForm.get('password')?.hasError('required') &&
            myForm.get('password')?.touched
          "
          style="margin-top: -20px"
        >
          <span class="mda-form-msg"> La contraseña es obligatorio </span>
        </div>
        <div
          *ngIf="myForm.get('password')?.hasError('minlength')"
          style="margin-top: -20px"
        >
          <span class="mda-form-msg">
            Este campo debe tener como minimo 8 caracteres
          </span>
        </div>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Correo electronico</mat-label>
              <input formControlName="email" matInput />
            </mat-form-field>
            <div
          *ngIf="
            myForm.get('email')?.hasError('required') &&
            myForm.get('email')?.touched
          "
          style="margin-top: -20px"
        >
          <span class="mda-form-msg"> Este campo es requerido </span>
        </div>
        <div
          *ngIf="myForm.get('email')?.hasError('email')"
          style="margin-top: -20px"
        >
          <span class="mda-form-msg">
            Este campo no tiene formato de correo
          </span>
        </div>
          </td>
        </tr>
      </table>
      <button
    routerLink="/dashboard/home"
    mat-button
    style="background-color: #feda00"
    type="button"
    [disabled]="myForm.invalid"
    (click)="register()"
    >
    Iniciar secion
  </button>
</form>

</div>