.row{
    text-align: center  ;
}

button{
    margin: 0 10px 0 10px;
}

.product-container {
    display: flex;
    flex-direction: column;
  }
  
  .product-container > * {
    width: 100%;
  }
  
  .input-file {
    display: none;
    
  }
  
  .subir {
    padding: 5px 16px;
    background: #3f51b5;
    color: #fff;
    border: 0px solid #fff;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .alinear {
    text-align: center;
    margin-top: 20px;
  }
  